.git
.gitignore

.github
.woodpecker

.env
.env.\*
!.env.example

backend/.env
backend/.env.\*
!backend/.env.example

frontend/.env
frontend/.env.\*
!frontend/.env.example

\*\*/node_modules

backend/dist
frontend/dist

backend/data

\*_/_.log

.vscode
.idea

README.md
