.git
.gitignore

.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
!.env.example


backend/node_modules
frontend/node_modules

backend/dist
frontend/dist

backend/data

backend/*.log

.vscode
.idea

README.md